* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
html, body, div, li, span, p, img {
    box-sizing: border-box;
}
#app {
    width: 100%;
    height: 100%;
    font-size: .16rem;
    padding: .1rem;
}
.app-top {
    width: 100%;
    padding: 0 .1rem .1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(150, 150, 150, 0.6);
    border-radius: .1rem;
}
.app-top >div {
    position: relative;
    width: 45%;
    height: 1rem;
    padding-top: .2rem;
    text-align: center;
    float: left;
}
.app-top >div:nth-child(2) {
    width: 7%;
    line-height: .6rem;
}
.app-top >div .input{
    width: 90%;
    position: absolute;
    left: 50%;top: 70%;
    transform: translate(-50%, -50%);
    padding: .05rem .08rem;
    border-radius: .05rem;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.app-top >.btn {
    width: 80%;
    border-radius: .06rem;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    font-size: .17rem;
}