<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>时间</title>
    <link rel="stylesheet" href="./css/vant.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div id="app">
        <div class="app-top">
            <div class="app-title">
                1. 输入两个时间计算相差时间<br>
                2. 输入一个时间计算距今时间<br>
                3. 输入格式 2000/01/01 或 2000/01/01 00:00:00 
            </div>
            <div class="app-content">
                <div class="content-left">
                    <p>请输入开始时间</p>
                    <van-field v-model="startDate" class="input" :class="{'color':startDate}" placeholder="开始时间" />
                </div>
                <div>--</div>
                <div class="content-right">
                    <p>请输入截止时间</p>
                    <van-field v-model="endDate" class="input" :class="{'color':endDate}" placeholder="截止时间" />
                </div>
                <p>{{ timeStr }}</p>
                <van-button type="info" class="confirmbtn" :class="{'showWidth': showReckonTime}" @click="clickBtn()" :disabled="disabled">确定</van-button>
                <van-button type="info" class="confirmbtn showWidth" @click="clickBtn('1')" v-if="showReckonTime">倒计时</van-button>
                <van-button type="danger" class="delbtn" @click="empty()" v-if="timeStr">清空</van-button>
            </div>
        </div>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/vant.js"></script>
    <script src="./js/setRem.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>